.header-content__div {
  display: flex;
  padding: 10px 40px;
  align-items: center;
  justify-content: space-between;
}

.header-left-side__div {
  display: flex;
}

.header-logo__div {
  margin-right: 20px;
}

.header-logo__div img {
  width: 80px;
}

.header-navigation__div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-navigation__div li {
  list-style: none;
  display: inline-block;
  margin: 0 8px;
}

.navigation__link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.771);
  font-weight: 500;
  font-size: 17px;
}
