* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

body {
  background-color: rgb(32, 32, 32);
}

.grid-movies {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 70%;
  margin: 0 auto;
  grid-gap: 20px;
}
